:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F7F7F7;
    --branco: #FFFFFF;

    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/Usuário.svg), url(./img/cabecalho-home.svg);
    background-repeat: no-repeat;
    background-position: top 40px right 1em, top left;
    min-height: 100vh;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.cabecalho {
    padding: 3em;
}

.cabecalho__imagem {
    top: 4em;
    padding-right: 3em;
}

.corpo {
    background-color: var(--cinza-claro-fundos);
    display: flex;
    flex-direction: column;
}

.conteudo {
    margin: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    flex-grow: 1;
    text-align: center;
}

.conteudo__texto {
    color: var(--azul);
    font-style: normal;
    line-height: 24px;
    margin: 1em 0;
    padding: 8px 0;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__foto {
    padding: 1em;
    width: 200px;
}

.card__texto {
    padding: 1em;
    text-align: left;
    width: 200px;
}

.conteudo__titulo {
    color: var(--azul);
    font-weight: 600;
}

.conteudo__descricao {
    color: var(--cinza);
    font-size: 14px;
}

.conteudo__cidade {
    color: var(--cinza);
    font-size: 12px;
    line-height: 16px;
}

.card__contato {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.conteudo__contato {
    padding: 1em;
    color: var(--cinza);
    font-size: 10px;
    line-height: 16px;
}

.conteudo__link {
    margin: 24px auto 1em;

    display: block;
    background-color: var(--coral);
    border-radius: 6px;
    padding: 0.5em;

    color: var(--branco);
    text-decoration: none;
    width: 12rem;
}

.rodape {
    background-color: var(--verde);
    color: var(--branco);
    padding: 3em;
    text-align: center;
}